form {
  max-width: 700px;
  margin: auto;
}

form div {
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

form p.minutes {
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 0.8em;
}

form input {
  border: none;
  padding: 5px;
  outline: none;
}

form input[type=text] {
  background-color: #f9f9f9;
  border: none;
  border-bottom: 2px solid #dadada;
  flex: 0 1 400px;
  margin-left: 20px;
  padding: 5px;
  outline: none;
  transition: border-bottom 0.2s linear;
}
form input[type=text]:focus {
  border-color: #274038;
}
form div.add-ingredients input, form div.add-method input {
  flex:1;
  margin: 0 20px;
}
form .list-item, form .list-item {
  line-height: 14px;
}
form .list-item p, form .list-item p {
  margin: 0;
}
form div.upload-image {
  position: relative;
}
form input#image {
  width: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
form input#image + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #bcd0c7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  transition: background-color 0.2s linear;
}

form input#image:focus + label,
form input#image + label:hover {
  cursor: pointer;
  background-color: #9E9E9E;
}
form input#image:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    height: 0%;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

.recipe-edit .image-container {
  position: relative;
  display: inline-block;
  width: 200px;
}
.recipe-edit .image-container img {
  width: 100%;
}
.recipe-edit .image-container .delete-icon {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #eee;
  border: 1px solid #444;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}
.recipe-edit .image-container .delete-icon:hover {
  background-color: #999;
}

.overlay {
  animation: fadeIn 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.overlay header {
  display: flex;
  justify-content: center;
  background-color: #5e7b6c;
  color: #fff;
  margin-bottom: 10px;
}
.overlay .box {
  animation: dropIn 0.5s;
  background-color: #fff;
  box-shadow: 0px 1px 5px #646464;
  border: 1px solid #494949;
  padding: 5px;
  width: 350px;
  max-width: 100%;
  margin: 10px;
  opacity: 1;
  transform: translateY(0px);
}
.overlay .box textarea {
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  line-height: 18px;
  min-height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 100%;
  max-width: 100%;
}
.overlay .box .box-buttons {
  display: flex;
  justify-content: space-around;
}

.overlay form {
  animation: dropIn 0.5s ease-in-out;
}
.overlay form input {
  padding: 20px;
}

.import {
  position: absolute;
  top: -20px;
  right: 0;
  text-align: center;
}
.import h6 {
  margin: 5px 0;
}
.import .icon {
  background-color: #e99002;
  color: #fff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: auto;
  transition: background-color 0.2s linear;
}
.import .icon:hover {
  background-color: #bc7c15;
}


.import-overlay {
  flex-direction: column;
  color: #fff;
}
.import-overlay .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #444;
  border-radius: 50%;
  color: #444;
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
  padding: 4px 6px;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}
.import-overlay .close:hover {
  background-color: #444;
  border: 1px solid #fff;
  color: #fff;
}
.import-overlay h4 {
  font-size: 2em;
  color: #fff;
}
.import-overlay .logo-container {
  display: flex;
  justify-content: space-around;
}
.import-overlay .logo-container div {
  flex: 0 1 200px;
}
.import-overlay .logo-container div img {
  width: 100%;
}
.import-overlay .logo-container div input {
  border: none;
  border-bottom: 2px solid gray;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
.import-overlay .logo-container div input:focus {
  border-color: #274038;
  outline: none;
}

/*
 Reorder List Styles
*/
.reorder-list table {
  width: 100%;
}
.reorder-list table tbody {
  display: flex;
  flex-direction: column;
}
.reorder-list table tbody tr.list-item {
  display: flex;
  line-height: 24px;
}
.reorder-list table tbody tr.list-item td {
  /*margin: 0;*/
  flex: 0 0 30px;
}
.reorder-list table tbody tr.list-item td:nth-child(2) {
  /*margin: 0;*/
  cursor: move;
  flex: 1 1 auto;
}
.recipe-edit .list-item i, .recipe-edit .list-item i {
  cursor: pointer;
}
.recipe-edit .list-item i.fa-arrows {
  color: #ddd;
}
.recipe-edit .list-item i.fa-pencil {
  color: #ba9e2e;
}
.recipe-edit .list-item i.fa-trash {
  color: #961f1f;
}
